<html><head>
<title>Login</title>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<script type="text/javascript">

function super_login() {
  var username = document.getElementById("username").value;
  var password = document.getElementById("password").value;
  // https://stackoverflow.com/a/11960692
  var dataToBeSent = $("form").serialize();
  $.ajax({
    type: "GET",
    url: "http://localhost:5001/api/token",
    //url: "http://google.com",
    dataType: 'json',
    headers: {
      "Authorization": "Basic " + btoa(username + ":" + password)
    },
    data: dataToBeSent,
    success: function (){
        $("#bad_boi").empty().append("ayyyyeeee esketit");
    }
  });
};

function login() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    $.getJSON('http://localhost:5001/api/token',
        // response handler
        function(data) {
            if (data.token) {
                $("#bad_boi").empty().append("ayyyyeeee esketit");
            };
      } // end of handler function

    // https://stackoverflow.com/questions/13373917/how-to-catch-a-400-response-in-jquery-getjson-call
    ).success(
        function() { $("#bad_boi").empty().append("ayyyyeeee esketit"); }
    ).error(function () { $("#bad_boi").empty().append("stfu"); }
    ).complete(function() { console.log("complete"); }); // End of getJSON
    return false;
};
</script>


</head>
	<body>
            Login

            <table id="bad_boi"></table>

	<form method="GET" onsubmit="return super_login()">
	    {{ form.csrf_token }}
	    {{ form.username.label }} {{ form.username(size=20) }} <br />
	    {{ form.password.label }} {{ form.password(size=20) }}
	    <input type="submit" value="Login" onclick="return super_login()"><br />
	    {{ form.checkbox }} {{ form.checkbox.label }}

	</form>


        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

	
	</body>
</html>

