<html><head>
<title>Register</title>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<script type="text/javascript">

function register() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    // https://stackoverflow.com/a/751387
    var dataToBeSent = $("form").serialize();
    $.post('http://localhost:5001/api/register',
        dataToBeSent,
        // response handler
        function(data, textStatus) {
            $("#bad_boi").empty().append(textStatus);
      }, "json" // end of handler function

    // https://stackoverflow.com/questions/13373917/how-to-catch-a-400-response-in-jquery-getjson-call
    ).success(
        function() { $("#bad_boi").empty().append("ayyyyeeee esketit"); }
    ).error(function () { $("#bad_boi").empty().append("stfu"); }
    ).complete(function() { console.log("complete"); }); // End of getJSON
    return false;
};
</script>


</head>
	<body>
            Register

            <table id="bad_boi"></table>

	<form onsubmit="return register()">
	    {{ form.csrf_token }}
	    {{ form.username.label }} {{ form.username(size=20) }} <br />
	    {{ form.password.label }} {{ form.password(size=20) }}
	    <input type="submit" value="Register" onclick="return register()"><br />
	    {{ form.checkbox }} {{ form.checkbox.label }}

	</form>


        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

	
	</body>
</html>

