
<html>
	<body>
	    Create an account	

	<form method="POST" action="/sign_up">
		{{ form.csrf_token }}
		{{ form.username.label }} {{ form.username(size=20) }} <br />
		{{ form.password.label }} {{ form.password(size=20) }}
		<input type="submit" value="Sign Up"><br />
		{{ form.checkbox }} {{ form.checkbox.label }}
	</form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
	</body>
</html>





